<footer class="bg-white">
  <div class="max-w-7xl mx-auto py-12 px-4 overflow-hidden sm:px-6 lg:px-8">
    <nav class="-mx-5 -my-2 flex flex-wrap justify-center" aria-label="Footer">
      <div class="px-5 py-2" *ngFor="let links of nav">
        <a
          class="text-base text-gray-500 hover:text-gray-900"
          routerLink="/{{ links.url }}"
        >
          {{ links.title }}
        </a>
      </div>
    </nav>
    <div class="mt-8 flex justify-center space-x-8">
      <a
        class="text-gray-400 hover:text-gray-500"
        title="Angular"
        href="https://angular.io/"
        target="_blank"
      >
        <span class="sr-only">Angular</span>
        <img
          alt="Angular"
          src="assets/svg/angular.svg"
        />
      </a>
      <a
        class="text-gray-400 hover:text-gray-500"
        title="Tailwindcss"
        href="https://tailwindcss.com/"
        target="_blank"
      >
        <span class="sr-only">Tailwindcss</span>
        <img
          alt="Tailwindcss"
          src="assets/svg/tailwindcss.svg"
        />
      </a>
    </div>
    <p class="mt-8 text-center text-base text-gray-400">
      &copy; 2021 NG-Tailwindcss. All rights reserved.
    </p>
  </div>
</footer>
